body{
	color: cyan;
    background-color: grey;
    width: 100%;
    margin: 10px;
}

#title{
	width:90%; 
    text-align:center; 
    margin:auto; 
    background-color:salmon; 
    color:blue;
}

#storyNav{
	position:relative; 
    width: 16%; 
    margin-left:5%; 
    background-color:salmon; 
    color:blue; 
    float:left; 
    line-height:2;
    padding: 4px;
    text-align: center;
}

#chapterNav{
	width: 10%; 
    margin-left:5%; 
    background-color:salmon; 
    color:blue; 
    float:left; 
    text-align:center; 
    line-height:2;
}

#chapterContent{
	width:77.5%;  
    margin-left:16%; 
    background-color:salmon; 
    color:blue; 
    padding: 10px;
}

.category{
	font-size: 20px;
	text-align: center;
    font-weight: bold;
}

a.titles{
	text-align: left;
}

#homeContent{
	width:71.5%;  
    margin-left:22%; 
    background-color:salmon; 
    color:blue; 
    padding: 10px;
}

.readLinks{
	display: flex;
	justify-content: center;
}

#chapterDirectionals{
	display: flex;
	justify-content: center;
}

